$slider--unchecked: #ccc;
$slider--checked: #2196f3;
$toolbar__spacing: 10px;

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  color: rgb(208, 208, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 8px;
}

.container {
  height: 100%;
  display: flex;
}

#toolbar {
  display: flex;
  // position: fixed;
  flex-direction: column;
  padding: 8px;
  width: 110px;
  // width: 15%;
  background-color: #1f2021;
  // background-color: transparent;

  * {
    margin-bottom: 8px;
    // max-width: 110px;
  }

  label {
    font-size: 16px;
    margin-top: $toolbar__spacing;
  }

  input {
    width: 100%;
    // min-width: 0;
  }

  button {
    background-color: rgb(105, 105, 183);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px;
    margin-top: 2px;
  }

  #save-btn {
    margin-top: $toolbar__spacing;
  }

  .toggle {
    position: relative;
    width: 48px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;

    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      cursor: pointer;
      height: 100%;
      width: 100%;
    }

    .slider {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transition: 0.4s;
      margin: 0;

      background-color: $slider--unchecked;
      border-radius: 28px;

      &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        top: 4px;
        left: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
      }
    }

    input:checked + .slider {
      background-color: $slider--checked;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $slider--checked;
    }

    input:checked + .slider:before {
      transform: translateX(20px);
    }
  }
}

#canvas-container {
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-flow: row wrap;
  background-color: rgb(105, 105, 183);
  // background-color: rgb(135, 135, 138);

  width: 100%;
  height: 100%;
}

#canvas {
  // background-color: rgb(105, 105, 183);
  background-color: white;
  margin: auto;

  overflow: hidden;
  flex-shrink: 0;
}
