html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  color: rgb(208, 208, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 8px;
}

.container {
  height: 100%;
  display: flex;
}

#toolbar {
  display: flex;
  // position: fixed;
  flex-direction: column;
  padding: 8px;
  width: 110px;
  background-color: #1f2021;
  // background-color: transparent;

  * {
    margin-bottom: 8px;
  }

  label {
    font-size: 16px;
  }

  input {
    width: 100%;
    // min-width: 0;
  }

  button {
    background-color: rgb(105, 105, 183);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px;
  }
}

#canvas-container {
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-flow: row wrap;
  background-color: rgb(105, 105, 183);
  // background-color: rgb(135, 135, 138);

  width: 100%;
  height: 100%;
}

#canvas {
  // background-color: rgb(105, 105, 183);
  background-color: white;
  margin: auto;

  overflow: hidden;
  flex-shrink: 0;
}
